.loader {
  justify-content: center;
  align-items: center;
  padding-top: 50vh;
}

.new-collection-container {
  display: flex;
  justify-content: center;
}

.new-collection-button {
  position: absolute;
  margin-bottom: 5rem;
  right: 13%;
}

.action-container {
  display: flex;
  justify-content: flex-start;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 70%;
}

.dropdown {
  margin-right: 50rem;
}
