.loader {
  justify-content: center;
  align-items: center;
  padding-top: 50vh;
}

.new-collection-container {
  display: flex;
  justify-content: center;
}

.new-collection-button {
  position: absolute;
  margin-bottom: 5rem;
  right: 13%;
}
