.title-box {
  box-sizing: border-box;

  height: 100px;
  padding: 20px;
  margin: 20px;

  background: #75bf7a;
  border: 1.5px solid #262626;
  border-radius: 10px;
  font-size: large;
  /* width: 80% */
}

.title {
  /* position: absolute; */
  font-style: normal;
  font-weight: 700;
  font-size: 50px;

  color: #f9f6f6;
}
