.collections-table {
  border-collapse: separate;
  border-spacing: 0 10px;
}

table.collections-table td,
th {
  border: solid 1px #000;
  border-style: solid none;
  padding: 10px;
}
table.collections-table td:first-child,
th:first-child {
  border-left-style: solid;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
table.collections-table td:last-child,
th:last-child {
  border-right-style: solid;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
.new-link-button-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.new-link-button {
  margin-right: 1.5rem;
}

.table-responsive {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.collection-body {
  display: flex;
}

.description-block {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 20rem;
  /* border:solid 1px green ; */
}
