/* Nav bar styling */

.nav-bar {
  background-color: #99d19c !important;
  color: #514e4e !important;
}

.nav-button {
  color: #fffcfc !important;
  background-color: #5e625e !important;
}

.pointer {
  cursor: pointer;
}
