.collections {
  box-sizing: border-box;

  /* position: relative; */
  display: flex;
  flex-wrap: wrap;
  /* padding-bottom: 6vw; */
  gap: 6vw;
  justify-content: flex-start;

  margin: 4rem auto;
  /* margin-top: 80px; */

  /* top: 50px;
  left: 5vw; */
  width: 90vw;

  border-color: black;
}
