.collections {
  box-sizing: border-box;

  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 6vw;

  margin-top: 80px;

  top: 50px;
  left: 5vw;
  width: 90vw;

  border-color: black;
}
