.collection-box {
  box-sizing: border-box;

  width: 18rem;
  height: 18rem;

  text-align: left;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  padding: 0 !important;

  background: white;
  border: 1px solid #262626;
  border-radius: 10px;
}

.collection-box:hover {
  background: rgb(240, 240, 240);
}

.collection-image {
  height: 50%;
  display: flex;
  justify-content: center;
  /* background-color: #198754; */
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  margin: 0.125rem;
  overflow: hidden;
}
.collection-image img {
  margin: 0.25rem;
}
.collection-bottom {
  height: 50%;
  padding: 6px;
}

.tags-container {
  height: 50%;
  overflow-y: auto;
}

.favourite-button {
  width: 32px;
  height: 32px;

  margin-top: 2px;
  margin-right: 2px;
  position: absolute;

  top: 50%;
  right: 2px;

  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
}

.favourite-image {
  height: 100%;
}

.collection-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* max-width: 100px; */
}

.edit-icon {
  background-color: transparent !important;
  border: transparent !important;
  border-radius: 30px;
  position: absolute;
  right: 2px;
}

/* .collection-image img{
  object-fit: cover;

}

.collection-img{
  width: 100%;
  height: 100%;
} */
